$font-family-base:
  'Segoe UI',
  -apple-system,
  BlinkMacSystemFont,
  sans-serif;

h1,
h2,
h3,
h4 {
  text-shadow: 0 0 8px rgba(255, 0, 255, 0.5);
  color: #fff;
}

a {
  color: #bb86fc;
  text-decoration: none;

  &:hover {
    color: #ff00ff;
    text-shadow: 0 0 6px #ff99ff;
  }
}

.carousel {
  // margin-bottom: 1rem;
  position: relative;
  z-index: 1;
  box-shadow: inset 0 0 200px rgba(0, 0, 0, 0.7);
}

.carousel-bg {
  min-height: 85vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
  filter: brightness(0.85) contrast(1.1);
  box-shadow: inset 0 0 80px rgba(0, 0, 0, 0.7);
}

.carousel-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.9));
  z-index: 2;
}

.carousel-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  text-shadow: 0 2px 8px rgba(0, 0, 0, 0.8);
  z-index: 3;
  max-width: 100%;
}

.carousel-caption h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1rem;
  font-family: 'Playfair Display', serif;
}

.carousel-caption p {
  font-size: 1.25rem;
  margin-bottom: 1.5rem;
  font-family: 'Playfair Display', serif;
}

.carousel-caption .btn-primary {
  background-color: #381c2d;
  border-color: #d879d8;
  padding: 0.75rem 2rem;
  font-size: 1.1rem;
  border-radius: 50px;
  transition: background-color 0.3s ease;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
  color: #1d30dd;
  font-weight: bold;
}

.carousel-caption .btn-primary:hover {
  background-color: #d879d8;
  border-color: #381c2d;
  color: #381c2d;

  transition: background-color 0.6s ease;
}

.carousel-indicators [data-bs-target] {
  background-color: #1a73e8;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.carousel-control-prev,
.carousel-control-next {
  width: 5%;
  z-index: 4;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(1);
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .carousel-bg {
    height: 60vh;
  }

  .carousel-caption h1 {
    font-size: 2rem;
    width: 180%;
    margin: 0 0 0 -3rem;
  }

  .carousel-caption p {
    font-size: 1rem;
    width: 180%;
    margin: 1rem 0 1rem -3rem;
  }

  .carousel-caption .btn-primary {
    padding: 0.5rem 1.5rem;
    font-size: 0.8rem;
  }
}
