.powered-by {
  float: right;
}

.footer {
  background-color: #e3e9ee;
  a {
    text-decoration: none;
    color: #242424;
  }
  div {
    line-height: 42px;
    margin: 0 16px;
  }

  max-height: 42px;
  min-height: 42px;
}
