<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (event(); as eventRef) {
      <div>
        <h2 data-cy="eventDetailsHeading">
          <span jhiTranslate="prosperPathApp.event.detail.title">Event</span>
        </h2>

        <hr />

        <jhi-alert-error />
        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="prosperPathApp.event.name">Name</span></dt>
          <dd>
            <span>{{ eventRef.name }}</span>
          </dd>

          <dt><span jhiTranslate="prosperPathApp.event.team">Team</span></dt>
          <dd>
            @if (event()!.team) {
              <div>
                <a [routerLink]="['/team', event()!.team?.id, 'view']">{{ eventRef.team?.name }}</a>
              </div>
            }
          </dd>

          <dt><span jhiTranslate="prosperPathApp.event.keyPayer">Key Payer</span></dt>
          <dd>
            @if (event()!.keyPayer) {
              <div>
                <a [routerLink]="['/member', event()!.keyPayer?.id, 'view']">{{ eventRef.keyPayer?.name }}</a>
              </div>
            }
          </dd>
        </dl>

        <hr />

        <h4><span jhiTranslate="prosperPathApp.bill.home.title">Bills</span></h4>

        <button class="btn btn-success btn-sm mb-2" (click)="addBill()">
          <span jhiTranslate="prosperPathApp.bill.home.add">+ Add Bill</span>
        </button>

        <table class="table table-sm" *ngIf="bills.length > 0">
          <thead>
            <tr>
              <th><span jhiTranslate="prosperPathApp.bill.name">Name</span></th>
              <th><span jhiTranslate="prosperPathApp.bill.amount">Amount</span></th>
              <th><span jhiTranslate="prosperPathApp.bill.payer">Payer</span></th>
            </tr>
          </thead>
          <tbody>
            @for (bill of bills; track bill.id) {
              <tr (click)="goToBill(bill.id!)" style="cursor: pointer">
                <td>{{ bill.name }}</td>
                <td>{{ bill.amount | currencyType }}</td>
                <td>{{ bill.payer?.name }}</td>
              </tr>
            }
          </tbody>
        </table>

        <h4><span jhiTranslate="prosperPathApp.eventBalance.home.title">Balances</span></h4>

        <table class="table table-sm" *ngIf="balances.length > 0">
          <thead>
            <tr>
              <th><span jhiTranslate="prosperPathApp.eventBalance.member">Member</span></th>
              <th><span jhiTranslate="prosperPathApp.eventBalance.paid">Paid</span></th>
              <th><span jhiTranslate="prosperPathApp.eventBalance.shouldPay">Should Pay</span></th>
              <th><span jhiTranslate="prosperPathApp.eventBalance.balance">Balance</span></th>
              <th><span jhiTranslate="prosperPathApp.eventBalance.result">Result</span></th>
            </tr>
          </thead>
          <tbody>
            @for (b of balances; track b.id) {
              <tr>
                <td>{{ b.member?.name }}</td>
                <td>{{ b.paid | currencyType }}</td>
                <td>{{ b.shouldPay | currencyType }}</td>
                <td [class.text-success]="(b.balance ?? 0) >= 0" [class.text-danger]="(b.balance ?? 0) < 0">
                  {{ b.balance | currencyType }}
                </td>
                <td>
                  @if ((b.balance ?? 0) < 0 && b.member?.name !== eventRef.keyPayer?.name) {
                    <span
                      jhiTranslate="prosperPathApp.eventBalance.sentTo"
                      [translateValues]="{ name: eventRef.keyPayer?.name, amount: (b.balance | currencyType) }"
                    >
                    </span>
                  } @else if ((b.balance ?? 0) > 0 && b.member?.name !== eventRef.keyPayer?.name) {
                    <span
                      jhiTranslate="prosperPathApp.eventBalance.receiveBy"
                      [translateValues]="{ name: eventRef.keyPayer?.name, amount: (b.balance | currencyType) }"
                    >
                    </span>
                  } @else {
                    <b><span jhiTranslate="prosperPathApp.eventBalance.qrCode">Qr code</span></b>
                  }
                </td>
              </tr>
            }
          </tbody>
        </table>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/event', eventRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
