<div class="password-reset-container d-flex justify-content-center">
  <div class="col-lg-3 bg-light p-4 shadow-sm rounded-4">
    <h1 data-cy="resetTitle" jhiTranslate="reset.finish.title" class="password-reset-title">Reset Password</h1>

    <!-- Missing Key Error -->
    @if (initialized() && !key()) {
      <div class="alert alert-danger" jhiTranslate="reset.finish.messages.keymissing">The reset key is missing.</div>
    }

    <!-- Info Message -->
    @if (key() && !success()) {
      <div class="alert alert-warning" jhiTranslate="reset.finish.messages.info">Choose a new password</div>
    }

    <!-- General Error -->
    @if (error()) {
      <div class="alert alert-danger" jhiTranslate="reset.finish.messages.error">
        Your password couldn't be reset. Remember a password request is only valid for 24 hours.
      </div>
    }

    <!-- Success Message -->
    @if (success()) {
      <div class="alert alert-success">
        <span jhiTranslate="reset.finish.messages.success"><strong>Your password has been reset.</strong> Please </span>
        <a class="alert-link" routerLink="/login" jhiTranslate="global.messages.info.authenticated.link">sign in</a>.
      </div>
    }

    <!-- Password Mismatch Error -->
    @if (doNotMatch()) {
      <div class="alert alert-danger" jhiTranslate="global.messages.error.dontmatch">The password and its confirmation do not match!</div>
    }

    <!-- Password Reset Form -->
    @if (key() && !success()) {
      <form class="form" (ngSubmit)="finishReset()" [formGroup]="passwordForm" novalidate>
        <div class="mb-3">
          <label class="form-label" for="newPassword" jhiTranslate="global.form.newpassword.label">New Password</label>
          <input
            type="password"
            class="form-control"
            id="newPassword"
            name="newPassword"
            placeholder="{{ 'global.form.newpassword.placeholder' | translate }}"
            formControlName="newPassword"
            data-cy="resetPassword"
          />

          @let newPasswordRef = passwordForm.get('newPassword')!;
          @if (newPasswordRef.invalid && (newPasswordRef.dirty || newPasswordRef.touched)) {
            <div>
              @if (newPasswordRef?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="global.messages.validate.newpassword.required"
                  >Your password is required.</small
                >
              }
              @if (newPasswordRef?.errors?.minlength) {
                <small class="form-text text-danger" jhiTranslate="global.messages.validate.newpassword.minlength"
                  >Your password is required to be at least 4 characters.</small
                >
              }
              @if (newPasswordRef?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="global.messages.validate.newpassword.maxlength"
                  >Your password cannot be longer than 50 characters.</small
                >
              }
            </div>
          }
          <jhi-password-strength-bar [passwordToCheck]="newPasswordRef.value"></jhi-password-strength-bar>
        </div>

        <div class="mb-3">
          <label class="form-label" for="confirmPassword" jhiTranslate="global.form.confirmpassword.label">Confirm New Password</label>
          <input
            type="password"
            class="form-control"
            id="confirmPassword"
            name="confirmPassword"
            placeholder="{{ 'global.form.confirmpassword.placeholder' | translate }}"
            formControlName="confirmPassword"
            data-cy="confirmResetPassword"
          />

          @let confirmPasswordRef = passwordForm.get('confirmPassword')!;
          @if (confirmPasswordRef.invalid && (confirmPasswordRef.dirty || confirmPasswordRef.touched)) {
            <div>
              @if (confirmPasswordRef?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="global.messages.validate.confirmpassword.required"
                  >Your confirmation password is required.</small
                >
              }
              @if (confirmPasswordRef?.errors?.minlength) {
                <small class="form-text text-danger" jhiTranslate="global.messages.validate.confirmpassword.minlength"
                  >Your confirmation password is required to be at least 4 characters.</small
                >
              }
              @if (confirmPasswordRef?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="global.messages.validate.confirmpassword.maxlength"
                  >Your confirmation password cannot be longer than 50 characters.</small
                >
              }
            </div>
          }
        </div>

        <div class="d-flex justify-content-center">
          <button
            type="submit"
            [disabled]="passwordForm.invalid"
            class="btn btn-save"
            data-cy="submit"
            jhiTranslate="reset.finish.form.button"
          >
            Validate New Password
          </button>
        </div>
      </form>
    }
  </div>
</div>
