<div>
  <h2 id="page-heading" data-cy="SummaryHeading">
    <span jhiTranslate="prosperPathApp.summary.home.title">Summaries</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="prosperPathApp.summary.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-summary"
        [routerLink]="['/summary/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="prosperPathApp.summary.home.createLabel">Create a new Summary</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <jhi-filter [filters]="filters"></jhi-filter>

  @if (summaries().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="prosperPathApp.summary.home.notFound">No Summaries found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="periodType">
              <div class="d-flex">
                <span jhiTranslate="prosperPathApp.summary.periodType">Period Type</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="periodValue">
              <div class="d-flex">
                <span jhiTranslate="prosperPathApp.summary.periodValue">Period Value</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="totalAssets">
              <div class="d-flex">
                <span jhiTranslate="prosperPathApp.summary.totalAssets">Total Assets</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="totalIncome">
              <div class="d-flex">
                <span jhiTranslate="prosperPathApp.summary.totalIncome">Total Income</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="totalExpense">
              <div class="d-flex">
                <span jhiTranslate="prosperPathApp.summary.totalExpense">Total Expense</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="totalProfit">
              <div class="d-flex">
                <span jhiTranslate="prosperPathApp.summary.totalProfit">Total Profit</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="profitPercentage">
              <div class="d-flex">
                <span jhiTranslate="prosperPathApp.summary.profitPercentage">Profit Percentage</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="createdAt">
              <div class="d-flex">
                <span jhiTranslate="prosperPathApp.summary.createdAt">Created At</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="updatedAt">
              <div class="d-flex">
                <span jhiTranslate="prosperPathApp.summary.updatedAt">Updated At</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="user.login">
              <div class="d-flex">
                <span jhiTranslate="prosperPathApp.summary.user">User</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (summary of summaries(); track trackId(summary)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/summary', summary.id, 'view']">{{ summary.id }}</a>
              </td>
              <td [jhiTranslate]="'prosperPathApp.PeriodType.' + (summary.periodType ?? 'null')">
                {{ { null: '', WEEK: 'WEEK', MONTH: 'MONTH', YEAR: 'YEAR' }[summary.periodType ?? 'null'] }}
              </td>
              <td>{{ summary.periodValue }}</td>
              <td>{{ summary.totalAssets }}</td>
              <td>{{ summary.totalIncome }}</td>
              <td>{{ summary.totalExpense }}</td>
              <td>{{ summary.totalProfit }}</td>
              <td>{{ summary.profitPercentage }}</td>
              <td>{{ summary.createdAt | formatMediumDatetime }}</td>
              <td>{{ summary.updatedAt | formatMediumDatetime }}</td>
              <td>
                {{ summary.user?.login }}
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/summary', summary.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/summary', summary.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(summary)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (summaries().length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
