<div>
  <h2 id="page-heading" data-cy="TransactionHeading">
    <span jhiTranslate="prosperPathApp.transaction.home.title">Transactions</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="prosperPathApp.transaction.home.refreshListLabel">Refresh list</span>
      </button>

      <button id="jh-create-entity" data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-transaction" [routerLink]="['/transaction/new']">
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="prosperPathApp.transaction.home.createLabel">Create a new Transaction</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <jhi-filter [filters]="filters"></jhi-filter>

  <div class="row">
    <div class="col-md-2">
      <ng-select id="ctg" placeholder="category" [items]="categories()" bindLabel="categoryName" bindValue="id"
        [(ngModel)]="category">
      </ng-select>

    </div>
    <div class="col-md-2">
      <input type="text" class="form-control" placeholder="From date" id="f-fdate" [(ngModel)]="fromDateStruct"
        ngbDatepicker #fromDatePicker="ngbDatepicker" (click)="fromDatePicker.toggle()" />
    </div>
    <div class="col-md-2">
      <input type="text" class="form-control" placeholder="To date" id="f-tdate" [(ngModel)]="toDateStruct"
        ngbDatepicker #toDatePicker="ngbDatepicker" (click)="toDatePicker.toggle()" />
    </div>
    <div class="col-md-2">
      <select class="form-select" id="f-type" [(ngModel)]="type">
        <option value="">Select type</option>
        <option value="INCOME" jhiTranslate="prosperPathApp.TransactionType.INCOME">income</option>
        <option value="EXPENSE" jhiTranslate="prosperPathApp.TransactionType.EXPENSE">expense</option>
      </select>
    </div>

    <div class="col-md-1 text-end">
      <button class="btn btn-primary" (click)="search()">Tìm kiếm</button>
    </div>
  </div>

  @if (transactions().length === 0) {
  <div class="alert alert-warning" id="no-result">
    <span jhiTranslate="prosperPathApp.transaction.home.notFound">No Transactions found</span>
  </div>
  } @else {
  <div class="table-responsive table-entities" id="entities">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
          <th scope="col" jhiSortBy="category.id">
            <div class="d-flex">
              <span jhiTranslate="prosperPathApp.transaction.category">Category</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="amount">
            <div class="d-flex">
              <span jhiTranslate="prosperPathApp.transaction.amount">Amount</span>

              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="transactionType">
            <div class="d-flex">
              <span jhiTranslate="prosperPathApp.transaction.transactionType">Transaction Type</span>

              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="description">
            <div class="d-flex">
              <span jhiTranslate="prosperPathApp.transaction.description">Description</span>

              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="transactionDate">
            <div class="d-flex">
              <span jhiTranslate="prosperPathApp.transaction.transactionDate">Transaction Date</span>

              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <!-- <th scope="col" jhiSortBy="user.login">
              <div class="d-flex">
                <span jhiTranslate="prosperPathApp.transaction.user">User</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th> -->
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        @for (transaction of transactions(); track trackId(transaction)) {
        <tr data-cy="entityTable">
          <td>{{ transaction.category?.categoryName }}</td>
          <td>{{ transaction.amount }}</td>
          <td [jhiTranslate]="'prosperPathApp.TransactionType.' + (transaction.transactionType ?? 'null')">
            {{ { null: '', INCOME: 'INCOME', EXPENSE: 'EXPENSE' }[transaction.transactionType ?? 'null'] }}
          </td>
          <td>{{ transaction.description }}</td>
          <td>{{ transaction.transactionDate | formatMediumDatetime }}</td>
          <!-- <td>
                {{ transaction.user?.login }}
              </td> -->
          <td class="text-end">
            <div class="btn-group">

              <a [routerLink]="['/transaction', transaction.id, 'edit']" class="btn btn-primary btn-sm"
                data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </a>

              <button type="submit" (click)="delete(transaction)" class="btn btn-danger btn-sm"
                data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
  }
  @if (transactions().length > 0) {
  <div>
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination [collectionSize]="totalItems" [page]="page" [pageSize]="itemsPerPage" [maxSize]="5"
        [rotate]="true" [boundaryLinks]="true" (pageChange)="navigateToPage($event)"></ngb-pagination>
    </div>
  </div>
  }
</div>