<div>
  <h2 id="page-heading" data-cy="BudgetHeading">
    <div class="row align-items-center header-row">
      <div class="col-12 d-flex align-items-center header-container">
        <div class="header-items">
          <span class="title" jhiTranslate="prosperPathApp.budget.home.title">Budgets</span>
        </div>
        <div class="header-items create-btn-container">
          <button id="jh-create-entity" data-cy="entityCreateButton"
            class="btn btn-primary jh-create-entity create-budget" [routerLink]="['/budget/new']">
            <fa-icon icon="plus"></fa-icon>
            <span jhiTranslate="prosperPathApp.budget.home.createLabel">Create a new Budget</span>
          </button>
        </div>
      </div>
    </div>
  </h2>

  <jhi-filter [filters]="filters"></jhi-filter>

  @if (budgets().length === 0) {
  <div class="alert alert-warning" id="no-result">
    <span jhiTranslate="prosperPathApp.budget.home.notFound">No Budgets found</span>
  </div>
  } @else {
  <div class="table-responsive table-entities budget-table-wrapper" id="entities">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead class="budget-thead">
        <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
          <th scope="col" jhiSortBy="budgetAmount">
            <div class="d-flex">
              <span jhiTranslate="prosperPathApp.budget.budgetAmount">Budget Amount</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="category.id">
            <div class="d-flex">
              <span jhiTranslate="prosperPathApp.budget.category">Category</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="startDate">
            <div class="d-flex">
              <span jhiTranslate="prosperPathApp.budget.startDate">Start Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="endDate">
            <div class="d-flex">
              <span jhiTranslate="prosperPathApp.budget.endDate">End Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="status">
            <div class="d-flex">
              <span jhiTranslate="prosperPathApp.budget.status">End Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" class="action-column"></th>
        </tr>
      </thead>
      <tbody class="budget-tbody">
        @for (budget of budgets(); track trackId(budget)) {
        <tr data-cy="entityTable" class="budget-row" (click)="handleBudgetClick(budget)">
          <td class="fw-bold">{{ budget.budgetAmount | currency: 'VND' }}</td>
          <td><fa-icon [icon]="['fas', (budget.category?.categoryIcon ?? '').replace('fa-', '')]"></fa-icon>&nbsp;{{ budget.category?.categoryName }}</td>
          <td>{{ budget.startDate | formatMediumDate }}</td>
          <td>{{ budget.endDate | formatMediumDate }}</td>
          <td [jhiTranslate]="'prosperPathApp.BudgetStatus.' + (budget.status ?? 'null')">
            {{ { null: '', ACTIVE: 'ACTIVE', ENDED: 'ENDED' }[budget.status ?? 'null'] }}
          </td>
          <td class="text-end action-column">
            <div class="btn-group action-buttons">
              <a [routerLink]="['/budget', budget.id, 'edit']" class="btn btn-primary btn-sm edit-btn"
                data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
              </a>
              <button type="submit" (click)="delete(budget)" class="btn btn-danger btn-sm delete-btn"
                data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
              </button>
            </div>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
  }

  @if (budgets().length > 0) {
  <div class="pagination-container mt-3">
    <div class="row align-items-center">
      <div class="col-12 col-md-6 mb-2 mb-md-0">
        <!-- <jhi-item-count
            [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"
            class="item-count"
          ></jhi-item-count> -->
      </div>
      <div class="col-12 col-md-6 d-flex justify-content-md-end">
        <ngb-pagination [collectionSize]="totalItems" [page]="page" [pageSize]="itemsPerPage" [maxSize]="5"
          [rotate]="true" [boundaryLinks]="true" (pageChange)="navigateToPage($event)"
          class="custom-pagination"></ngb-pagination>
      </div>
    </div>
  </div>
  }
</div>