<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (billParticipant(); as billParticipantRef) {
      <div>
        <h2 data-cy="billParticipantDetailsHeading">
          <span jhiTranslate="prosperPathApp.billParticipant.detail.title">Bill Participant</span>
        </h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ billParticipantRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="prosperPathApp.billParticipant.shareAmount">Share Amount</span></dt>
          <dd>
            <span>{{ billParticipantRef.shareAmount }}</span>
          </dd>
          <dt><span jhiTranslate="prosperPathApp.billParticipant.bill">Bill</span></dt>
          <dd>
            @if (billParticipant()!.bill) {
              <div>
                <a [routerLink]="['/bill', billParticipant()!.bill?.id, 'view']">{{ billParticipantRef.bill?.id }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="prosperPathApp.billParticipant.member">Member</span></dt>
          <dd>
            @if (billParticipant()!.member) {
              <div>
                <a [routerLink]="['/member', billParticipant()!.member?.id, 'view']">{{ billParticipantRef.member?.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/bill-participant', billParticipantRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
