.main-container-custom {
  min-height: calc(87.5vh - var(--overflow-height, 0px));
  max-height: calc(87.5vh - var(--overflow-height, 0px));
  overflow-y: scroll;
}

.container-fluid {
  padding-right: 0 !important;
  padding-left: 0 !important;
}
