/* Container fluid - lớp nền chính */
.container-fluid {
  padding: 0 !important;
  background: linear-gradient(to bottom, #c5a8c4, #efe9f0);
}

/* Tầng chính - như tấm thảm cao cấp */
.main-container-custom {
  background: linear-gradient(145deg, #c5a8c4, #efe9f0, #f0f0f0);
  // border-radius: 16px;
  box-shadow:
    0 4px 12px rgba(0, 0, 0, 0.06),
    0 1px 3px rgba(0, 0, 0, 0.04);
  overflow-y: auto;
  max-width: 100%;
}
