<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (teamMember(); as teamMemberRef) {
      <div>
        <h2 data-cy="teamMemberDetailsHeading"><span jhiTranslate="prosperPathApp.teamMember.detail.title">Team Member</span></h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="prosperPathApp.teamMember.team">Team</span></dt>
          <dd>
            @if (teamMember()!.team) {
              <div>
                <a [routerLink]="['/team', teamMember()!.team?.id, 'view']">{{ teamMemberRef.team?.name }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="prosperPathApp.teamMember.member">Member</span></dt>
          <dd>
            @if (teamMember()!.member) {
              <div>
                <a [routerLink]="['/member', teamMember()!.member?.id, 'view']">{{ teamMemberRef.member?.name }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/team-member', teamMemberRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
