<div class="member-container d-flex justify-content-center">
  <div class="col-lg-3 bg-light p-4 shadow-sm rounded-4">
    @if (member(); as memberRef) {
      <h1 data-cy="memberTitle" jhiTranslate="prosperPathApp.member.detail.title" class="member-title mb-4">Member Details</h1>

      <div class="block">
        <jhi-alert-error></jhi-alert-error>
        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="prosperPathApp.member.name">Name</span></dt>
          <dd>
            <span>{{ memberRef.name }}</span>
          </dd>
        </dl>

        <div class="action-buttons text-center mt-4">
          <button type="button" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
            <fa-icon icon="arrow-left"></fa-icon>
          </button>

          <button type="button" [routerLink]="['/member', memberRef.id, 'edit']" class="btn btn-primary">
            <fa-icon icon="pencil-alt"></fa-icon>
          </button>
        </div>
      </div>
    }
  </div>
</div>
