@if (event) {
  <form name="deleteForm" (ngSubmit)="confirmDelete(event.id!)" #deleteForm="ngForm">
    <div class="modal-header border-bottom-0">
      <h4 class="modal-title text-primary fw-bold mx-auto" data-cy="eventDeleteDialogHeading" jhiTranslate="entity.delete.title">
        <fa-icon [icon]="['fas', 'trash']" class="me-2 text-danger"></fa-icon>
        Confirm Delete Operation
      </h4>
      <button type="button" class="btn-close position-absolute end-0 top-0 mt-2 me-2" (click)="cancel()" aria-label="Close"></button>
    </div>

    <div class="modal-body text-center">
      <jhi-alert-error></jhi-alert-error>
      <p
        id="jhi-delete-event-heading"
        class="text-muted fs-6"
        jhiTranslate="prosperPathApp.event.delete.question"
        [translateValues]="{ id: event.name }"
      >
        Are you sure you want to delete Event {{ event.id }}?
      </p>
    </div>

    <div class="modal-footer border-top-0">
      <button type="button" class="btn btn-outline-secondary mx-2" (click)="cancel()" aria-label="Cancel deletion">
        <fa-icon [icon]="['fas', 'times']" class="me-2"></fa-icon>
        <span jhiTranslate="entity.action.cancel">Cancel</span>
      </button>

      <button
        id="jhi-confirm-delete-event"
        data-cy="entityConfirmDeleteButton"
        type="submit"
        class="btn btn-danger mx-2"
        [disabled]="deleteForm.invalid"
        aria-label="Confirm deletion"
      >
        <fa-icon [icon]="['fas', 'check']" class="me-2"></fa-icon>
        <span jhiTranslate="entity.action.delete">Delete</span>
      </button>
    </div>
  </form>
}
