<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-summary-heading" data-cy="SummaryCreateUpdateHeading" jhiTranslate="prosperPathApp.summary.home.createOrEditLabel">
        Create or edit a Summary
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="prosperPathApp.summary.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let periodTypeRef = editForm.get('periodType')!;
        <div class="mb-3">
          <label class="form-label" for="field_periodType" jhiTranslate="prosperPathApp.summary.periodType">Period Type</label>
          <select class="form-control" name="periodType" formControlName="periodType" id="field_periodType" data-cy="periodType">
            <option [ngValue]="null">{{ 'prosperPathApp.PeriodType.null' | translate }}</option>
            @for (periodType of periodTypeValues; track $index) {
              <option [value]="periodType">{{ 'prosperPathApp.PeriodType.' + periodType | translate }}</option>
            }
          </select>
          @if (periodTypeRef.invalid && (periodTypeRef.dirty || periodTypeRef.touched)) {
            <div>
              @if (editForm.get('periodType')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        @let periodValueRef = editForm.get('periodValue')!;
        <div class="mb-3">
          <label class="form-label" for="field_periodValue" jhiTranslate="prosperPathApp.summary.periodValue">Period Value</label>
          <input
            type="text"
            class="form-control"
            name="periodValue"
            id="field_periodValue"
            data-cy="periodValue"
            formControlName="periodValue"
          />
          @if (periodValueRef.invalid && (periodValueRef.dirty || periodValueRef.touched)) {
            <div>
              @if (editForm.get('periodValue')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_totalAssets" jhiTranslate="prosperPathApp.summary.totalAssets">Total Assets</label>
          <input
            type="number"
            class="form-control"
            name="totalAssets"
            id="field_totalAssets"
            data-cy="totalAssets"
            formControlName="totalAssets"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_totalIncome" jhiTranslate="prosperPathApp.summary.totalIncome">Total Income</label>
          <input
            type="number"
            class="form-control"
            name="totalIncome"
            id="field_totalIncome"
            data-cy="totalIncome"
            formControlName="totalIncome"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_totalExpense" jhiTranslate="prosperPathApp.summary.totalExpense">Total Expense</label>
          <input
            type="number"
            class="form-control"
            name="totalExpense"
            id="field_totalExpense"
            data-cy="totalExpense"
            formControlName="totalExpense"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_totalProfit" jhiTranslate="prosperPathApp.summary.totalProfit">Total Profit</label>
          <input
            type="number"
            class="form-control"
            name="totalProfit"
            id="field_totalProfit"
            data-cy="totalProfit"
            formControlName="totalProfit"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_profitPercentage" jhiTranslate="prosperPathApp.summary.profitPercentage"
            >Profit Percentage</label
          >
          <input
            type="number"
            class="form-control"
            name="profitPercentage"
            id="field_profitPercentage"
            data-cy="profitPercentage"
            formControlName="profitPercentage"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_createdAt" jhiTranslate="prosperPathApp.summary.createdAt">Created At</label>
          <div class="d-flex">
            <input
              id="field_createdAt"
              data-cy="createdAt"
              type="datetime-local"
              class="form-control"
              name="createdAt"
              formControlName="createdAt"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_updatedAt" jhiTranslate="prosperPathApp.summary.updatedAt">Updated At</label>
          <div class="d-flex">
            <input
              id="field_updatedAt"
              data-cy="updatedAt"
              type="datetime-local"
              class="form-control"
              name="updatedAt"
              formControlName="updatedAt"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_user" jhiTranslate="prosperPathApp.summary.user">User</label>
          <select class="form-control" id="field_user" data-cy="user" name="user" formControlName="user" [compareWith]="compareUser">
            @if (!editForm.get('user')!.value) {
              <option [ngValue]="null" selected></option>
            }
            @for (userOption of usersSharedCollection; track $index) {
              <option [ngValue]="userOption">{{ userOption.login }}</option>
            }
          </select>
        </div>
        @if (editForm.get(['user'])!.invalid && (editForm.get(['user'])!.dirty || editForm.get(['user'])!.touched)) {
          <div>
            @if (editForm.get(['user'])?.errors?.required) {
              <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
            }
          </div>
        }
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
